<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Qunity\Base\Api\Data\CustomUrlInterface"
                type="Qunity\Base\Model\Data\CustomUrl"/>
    <preference for="Qunity\Base\Api\Service\GetCustomUrlListInterface"
                type="Qunity\Base\Model\Service\GetCustomUrlList"/>
</config>
