<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="qunity" translate="label" sortOrder="1001000" class="extension-tab">
            <label>Qunity</label>
        </tab>
    </system>
</config>
